.socials {
    position: absolute;
    background-color: var(--bg-card);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 160vh;
    height: 15vh;
    top: 175%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
  
.socials a {
    margin: 0 120px;
}
  
.socials img {
    height: 80px;
    width: 80px;
    transition: var(--transition);
}

.socials img:hover {
    transform: scale(1.2) rotate(5deg);
}

@media (max-width: 600px) {
    .socials {
        width: 54vh;
        height: 10vh;
        top: 210%;
    }

    .socials a {
        margin: 0 30px;
    }

    .socials img {
        height: 50px;
        width: 50px;
    }
}