@font-face {
    font-family: 'inter';
    src: url('/fonts/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'draw';
    src: url('/fonts/draw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* font */ 
    --font-1: 'inter', sans-serif;
    --font-2: 'draw', sans-serif;

    /* background */
    --bg-gradiant-1: #060912;
    --bg-gradient-2: #1d283f;
    --bg-header: #111827;
    --bg-card: #111827;
    --bg-btn: #425786;

    /* text */
    --white-text: #ffffff;
    --lighter-text: #8290a4;

    /* border */
    --border: 2px solid #1F2937;
    --border-radius: 25px;

    /* other */
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.2);
    --shadow-md: 0 4px 16px rgba(0, 0, 0, 0.3);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--bg-gradiant-1), var(--bg-gradient-2));
    height: 100vh;
}

.top-text {
    color: var(--lighter-text);
    font-family: var(--font-1);
    font-size: 2.5rem;
    font-weight: bold;

    position: absolute;
    left: 32%;
    top: 35%;
}

.buttons {
    width: 100vh;
    height: 10vh;
    position: absolute;

    left: 25%;
    top: 50%;
}

.license{
    position: absolute;
    background-color: #111827;
    width: 25vh;
    height: 8vh;
    border: var(--border);
    border-radius: var(--border-radius);

    font-family: var(--font-1);
    color: var(--lighter-text);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;

    right: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy{
    position: absolute;
    background-color: #111827;
    width: 25vh;
    height: 8vh;
    border: var(--border);
    border-radius: var(--border-radius);

    font-family: var(--font-1);
    color: var(--lighter-text);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;

    left: 37%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.terms{
    position: absolute;
    background-color: #111827;
    width: 25vh;
    height: 8vh;
    border: var(--border);
    border-radius: var(--border-radius);

    font-family: var(--font-1);
    color: var(--lighter-text);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}